# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store

# Generated code
*.g.dart
*.freezed.dart

# Environment Variables
env/
!env/example.env

# Firebase Credentials
google-services.json
GoogleService-Info.plist
firebase_options.dart
firebase-debug.log

# Android Signing
key.properties
*.jks
*.keystore

# iOS Signing
*.mobileprovision
*.p12
*.cer
